.header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #8798a8;
}

.heading {
    font-size: 1.5em;
    margin: 0;
}

.header ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header ul li {
    list-style: none;
    padding: 0 0.8em;
}


.header ul li a {
    color: #1E88E5;
    text-decoration: none;
    font-size: bold;
    font-size: 1em;
}

.header ul li.active a {
    color: #ffffff;
}