.tile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.poster {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.3em;
    padding: 0.5em 0;
    color: #1E88E5;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.detail {
    text-align: center;
    font: 1em;
    color: #A5A5A5;
}